#header{
    margin: 20px;
    float: left;
}

img{
    height: 150px;
}

#img-slides{
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 30px;
    padding-top: 70px;
}

.navbar{
    clear: left;
}


#footer{
    padding-top: 1px;
    height: 250px;
    background-color: #303030;
    color: whitesmoke;
}

#logo-footer{
    height: 100px;
}